* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
